[project]
name = "ansible-role-caddy"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = []

[dependency-groups]
dev = [
    "docker>=7.1.0",
    "ansible-lint>=24.6.0",
    "molecule>=25.12.0",
    "molecule-plugins[docker]>=25.8.12",
]
