name: Release

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: write
  issues: write
  pull-requests: write

jobs:
  release:
    if: >
      ${{ github.event_name != 'workflow_dispatch' || github.ref_name == 'main' }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ github.ref_name }}
          fetch-depth: 0
          fetch-tags: true
      - name: Set up uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
      - name: Install Python
        run: |
          uv python install
      - name: Create release
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          uv tool run --from python-semantic-release semantic-release version
